@model I_Provider[]
@Html.Cl_MVCTagPageInfo("Настройки поставщиков", Request.Path.ToLower())

@{
	string userName = ViewData["user"] != null ? ViewData["user"].ToString() : System.Configuration.ConfigurationManager.AppSettings["ClientName"].ToString();
}

<section class="content">
	<div class="client listprms">
		@if (Model != null && Model.Length > 0) {
		<div class="providers">
			<div class="list">
				<h5>
					Поставщики
					@if (userName == System.Configuration.ConfigurationManager.AppSettings["ClientName"].ToString()) {
					<button class="mdl-button mdl-js-button mdl-button--icon" title="Перезагрузка поставщиков" onclick="f_ResetUserProviders()">
						<i class="material-icons">cached</i>
					</button>
				}
				</h5>
				<div class="providers_items">
					@foreach (I_Provider provider in Model) {
					<div class="providers_item item @if (Model[0].Equals(provider))
					{ <text>active</text> }" onclick="$('.providers_item').removeClass('active');f_GetProviderUser('@userName', '@provider.p_ID', '@provider.p_Name');$(this).addClass('active');">
						<div class="providers_item_name">
							@string.Format("{0} ({1})", provider.p_Name, provider.p_Host)
						</div>
						<div class="providers_item_cbxsEnableds" data-providerID="@provider.p_ID">
							<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" title="Использование для всех" for="cbx_Provider_@provider.p_Name" id="cbx_Prv_@provider.p_ID">
								<input type="checkbox" id="cbx_Provider_@provider.p_Name" class="mdl-checkbox__input" disabled @if (provider.p_IsEnabled) { <text> checked </text>      } />
							</label>
						</div>
					</div>
					}
				</div>
			</div>
			<div class="params">
				<h5>Параметры</h5>
				@using (Ajax.BeginForm("f_UpdateProviderUser", new { controller = "Client", area = "Admin" }, new AjaxOptions { HttpMethod = "Post", LoadingElementId = "lProviderUser", OnComplete = "f_UpdateProviderUserOnComplete" })) {
				<div class="paramsval">
					@{ Html.RenderPartial("/Areas/Admin/Views/Client/ProviderParams.cshtml", new ViewDataDictionary { Model = (Model.Length > 0) ? Cl_ProvidersRole.f_GetProviderUser(Model.First().p_ID, userName) : null }); }
				</div>
						}
			</div>
		</div>
						} else {
						<h6>Поставщики отсутствуют!</h6>
						}
	</div>
</section>